
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4"><h1>Editing Term</h1></div>
		<div class="col-md-4"></div>
		
		
	</div>
	
	<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4"><%= render 'form' %></div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4"><%#= link_to 'View', @term %> |
<%= link_to 'Back', classoom_terms_path(@classroom) %></div>
	<div class="col-md-4"></div>
</div>