
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4"><h1>Editing Subject Records</h1></div>
		<div class="col-md-4"></div>
		
		
	</div>
	
	<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4"><%= render 'form' %></div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4"><%= link_to 'View', student_subject_detail_path(@student, @subject_detail) %> |
<%= link_to 'Back', student_subject_details_path(@student) %></div>
	<div class="col-md-4"></div>
</div>
