body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:link { /* Essentially means a[href], or that the link actually goes somewhere */
  color: #3A3232;
}
a:visited {
  color: #F07848;
}
a:hover {
  color: #DDDD55;
}

a { 
  position: relative;
}
a:active {
  top: 1px;
   color: red;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #941F1F;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  width: 50%;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    color: #BA1131
  }
}
